
<div class="flex justify-center">
<div class="w-1/2 rounded overflow-hidden shadow-lg content-center items-center">
  <div class="flex">
    <div class="w-1/2">
      <div class="px-6 py-4">
        <div class="font-bold text-xl mb-2">{{artist.name}}</div>
        <p class="text-gray-700 text-base">
          {{artist.description}}
        </p>
      </div>
      <div class="px-6 py-4">
        <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2">Instagram</span>
        <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2">GMail</span>
        <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700">Facebook</span>
      </div>
    </div>
    <div class="w-1/2">
      <img class="w-full" src="image-url.jpg" alt="Card Image">
    </div>
  </div>
</div>
</div>
